.gameBg {
 /* background-image: url("../../../public/assets/images/darkBg.jpg");*/
 background-image: url("https://i.imgur.com/QKuMDkA.jpg");
}

#resetBtn {
  margin-top: 10px;
}

#guesses {
  display: inline-block;
  margin-top: 15px;
  margin-left: 10px;
}